.language-switch {
 position: absolute;
 right: 1em;
}

.language-switch label {
 position: relative;
}

.language-switch label .content {
 position: absolute;
 display: grid;
 opacity: 0;
 height: 0;
 pointer-events: none;
 transition: opacity var(--primary-transition);
}

.language-switch svg {
 cursor: pointer;
 z-index: 10;
}

.language-switch:has(input:checked) .content {
 pointer-events: none;
 opacity: 1;
}

.language-switch:has(input:checked) .content svg {
 pointer-events: initial;
}